@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.form-label {
  display: none;
}

@media (min-width: 480px) {
  html,
  body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }

  .logo-part {
    display: none;
  }

  .desktop-menu {
    align-items: center;
    padding: 25px;
    color: #344563;
  }

  .desktop-nav-elements {
    display: flex;
    gap: 20px;
    color: #344563;
  }

  .desktop-nav-elements li {
    list-style: none;
  }

  .left a {
    color: #6070ff;
  }

  .right a {
    color: #344563;
  }

  .about-submit-btn a {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #396df2;
    font-weight: 500;
    padding: 10px;
    align-items: center;
  }

  .social a {
    text-decoration: none;
  }

  .media-icons a {
    text-decoration: none;
    color: #505f79;
  }

  .social-about a {
    text-decoration: none;
  }

  .media-icons-about a {
    text-decoration: none;
    color: #505f79;
  }

  .desktop-nav-elements li a {
    text-decoration: none;
    background-color: #fff;
  }

  .left {
    flex: 1;
    padding-left: 150px;
  }

  .left-nav-link {
    width: 76px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }

  .right {
    display: flex;
    gap: 70px;
    align-items: flex-end;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-style: normal;
    font-weight: 500;
    margin-right: 10%;
  }

  .main {
    /* background-image: url("../images/main-background.jpg"); */
    background-image: url("/images/main-background.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 721.46px;
    left: 34.6px;
    top: 119px;
  }

  .wrapper {
    padding: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .intro-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
    cursor: pointer;
    width: 21.5ch;
    white-space: nowrap;
    overflow: hidden;
    animation: cursor 0.5s step-start, text 0.2s steps(18);
  }

  @keyframes cursor {
    0%,
    100% {
      border-color: #dbd6d6;
    }
  }

  @keyframes text {
    0% {
      border-right: 2px solid #212121;
      width: 0;
    }

    100% {
      width: 21.5ch;
      border: 0;
    }
  }

  .text-description {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    padding: 12px 0;
  }

  .social {
    padding: 15px 0;
  }

  .connection {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #6070ff;
  }

  .media-icons {
    display: flex;
    list-style: none;
    padding: 5px 0;
    gap: 10px;
    left: 28.89%;
    right: 70.13%;
    top: 12.53%;
    bottom: 87.08%;
    color: #505f79;
    transition: transform 1s;
    outline: 2px;
  }

  .language-categories li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 12px;
    height: 24px;
    border-radius: 8px;
    flex: none;
    flex-grow: 0;
    color: #6070ff;
    background-color: #ebebff;
  }

  .media-icons li:hover {
    transform: scale(2);
  }

  .container {
    margin-left: 3%;
    margin-top: 10%;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
    gap: 20px;
    left: 0;
    right: 0;
    top: 0;
    height: 540px;
    bottom: 0;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    margin-top: 10%;
  }

  .left-card1-block {
    flex-direction: column;
    background: rgb(255, 255, 255);
    height: 100%;
    margin-top: 5%;
  }

  .left-card1-block.one {
    margin-left: -6%;
    margin-top: 8%;
  }

  .left-card1-block.two {
    margin-top: 8%;
    margin-left: 35px;
  }

  .left-card1-block.three {
    margin-left: -10%;
    margin-top: 15%;
    width: 400px;
  }

  .left.card1.block.four {
    margin-top: 3%;
    margin-left: 40px;
  }

  .project-description.four {
    width: 500px;
  }

  .project-title {
    margin: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .project-badges {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    padding: 5px;
  }

  .counter-image {
    width: 10px;
    height: 10px;
    margin-top: 5px;
    background: #c1c7d0;
    flex: none;
    border-radius: 50%;
    flex-grow: 0;
  }

  .text-1 {
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-left: 10px;
  }

  .text-2 {
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .text-3 {
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .project-description {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    margin-left: 20px;
    flex-grow: 0;
    margin-top: 30px;
  }

  .project-description.desktop.three {
    width: 400px;
  }

  .language-categories {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 10px 0;
    margin-left: 20px;
    width: 400px;
    margin-top: 5px;
  }

  .image {
    display: none;
  }

  .desktop-image1 {
    width: 540px;
    height: 448px;
    margin-left: 20px;
    border-radius: 8px;
    object-fit: cover;
    padding: 10px;
    margin-top: 5%;
    transition: 1s ease;
    cursor: pointer;
  }

  .desktop-image1:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
  }

  .desktop-image2 {
    max-width: 540px;
    max-height: 448px;
    border-radius: 8px;
    object-fit: cover;
    padding: 20px;
    cursor: pointer;
  }

  .desktop-image2:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
  }

  .project-description.desktop2.text {
    width: 450px;
  }

  .desktop-image3 {
    max-width: 540px;
    max-height: 448px;
    border-radius: 8px;
    object-fit: cover;
    padding: 30px;
    margin-left: -20px;
    margin-top: 5%;
    cursor: pointer;
  }

  .desktop-image3:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
  }

  .submit-btn.desktop {
    background-color: #4053fc;
    color: #fff;
    padding: 10px;
  }

  .submit-btn.desktop:hover {
    color: #4053fc;
    transition: 5s;
  }

  .submit-btn {
    border-radius: 16px;
    margin-left: 20px;
    margin-top: 5%;
    width: 150px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #396df2;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    border: 1px solid #396df2;
    background-color: #fff;
  }

  .handcursor {
    width: 57px;
    height: 57px;
    left: 376px;
    top: 53.05px;
    margin-left: 60%;
  }

  .container-about {
    margin-left: 3%;
    top: 12.53%;
    margin-top: 5%;
  }

  .card-about {
    padding: 20px;
    margin-top: 5%;
  }

  .cardabout-skill {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 150px);
    gap: 20px;
    left: 10px;
    right: 0;
    margin-top: 5%;
    top: 0;
    bottom: 0;
    height: 500px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
  }

  .title-about {
    padding: 10px;
    width: 447px;
    height: 114px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  .myself-text {
    display: flex;
    width: 427px;
    padding: 10px;
    margin-top: 15px;
    height: 102px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
  }

  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 162px;
    height: 48px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
    transition: all 500ms linear;
    cursor: pointer;
  }

  button:hover {
    color: #fff;
    background: #6070ff;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  }

  button:active {
    background: #2230d2;
    color: #fff;
  }

  button:disabled {
    color: #5e6c84;
    border: 1px solid #e5e5e5;
  }

  .social-about {
    padding: 20px 0;
    margin-left: 10px;
    margin-top: 15px;
    align-self: flex-start;
    margin-bottom: 5%;
  }

  .connection-about {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .media-icons-about {
    display: flex;
    list-style: none;
    padding: 5px 0;
    gap: 10px;
    left: 28.89%;
    right: 70.13%;
    top: 12.53%;
    bottom: 87.08%;
    color: #505f79;
    transition: tranform 0.1s;
  }

  .media-icons-about li:hover {
    transform: scale(2);
  }

  .about-submit-btn {
    width: 200px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    margin-left: 10px;
  }

  .desktop-image4 {
    max-width: 540px;
    max-height: 448px;
    border-radius: 8px;
    object-fit: cover;
    padding: 20px;
    margin-top: 5%;
    margin-left: 7%;
    cursor: pointer;
  }

  .desktop-image4:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
  }

  .lang {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding: 10px;
  }

  .about-lang {
    height: 24px;
    left: 24px;
    right: 78px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #344563;
  }

  .seperator-btn {
    width: 450px;
    margin-top: 5px;
  }

  .display-flex ul {
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 10px;
  }

  .language {
    width: 98px;
    height: 24px;
    left: 12px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }

  .language-list {
    width: 122px;
    height: 120px;
    background: #f7f7f9;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 50px;
  }

  .frame-work {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #344563;
    padding: 20px;
  }

  .works-frame {
    margin-top: 10px;
    padding: 30px;
  }

  .down-arrow {
    right: 33.33%;
    top: 25%;
    bottom: 25%;
    margin-left: 75%;
    left: 50%;
  }

  .left-arrow {
    padding: 0 60%;
  }

  .left-arrow2 {
    padding: 0 75%;
  }

  .contanct-containter {
    margin-top: 10%;
    display: flex;
    background-color: #6070ff;
    border-top-left-radius: 100px;
    position: relative;
  }

  .backgound-image.mobile {
    display: none;
  }

  .backgound-image.desktop {
    background-image: url(../images/desktop-bg.svg);
    background-repeat: no-repeat;
    height: 100%;
    width: 1290.66px;
    width: 100%;
    position: absolute;
    top: 100px;
  }

  .contact-title {
    align-items: center;
  }

  .title2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    align-items: center;
    text-align: center;
    padding: 100px 0;
    color: #fff;
  }

  .contacts-info {
    width: 40%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
    flex: none;
    flex-grow: 0;
    display: flex;
    margin-left: 30%;
    margin-top: -5%;
  }

  .title2.desktop {
    margin-top: 10%;
  }

  .action-form {
    display: flex;
    flex-direction: column;
    row-gap: 11px;
    align-items: center;
  }

  .contact-form {
    padding: 0 20px;
    align-items: center;
  }

  .nav-items {
    display: none;
  }

  .text-3.year {
    display: none;
  }

  .text-1.dektop {
    display: none;
  }

  .project-description.mobile {
    display: none;
  }

  .nav-sub {
    display: none;
  }

  input[type=text],
  input[type=email],
  select,
  textarea {
    padding: 5px;
    box-sizing: border-box;
    margin-top: 14px;
    margin-bottom: 16px;
    border: 1px solid #cfd8dc;
  }

  .text-area {
    height: 150px;
    color: #b3bac5;
    width: 320px;
  }

  .label::placeholder {
    color: #172b4d;
  }

  .label {
    width: 327px;
    height: 48px;
    border: 1px solid #cfd8dc;
    left: 16px;
  }

  .submit-btn2 {
    display: flex;
    align-items: center;
    padding: 12px 18px 12px 18px;
    width: 140px;
    height: 48px;
    left: 470px;
    top: 5470px;
    background: #fff;
    border-radius: 8px;
    border: none;
    color: #6070ff;
    font-size: 17px;
    margin-right: 0;
    margin-bottom: 20%;
  }

  .img-form {
    margin: 0 auto;
    display: flex;
    padding: 7%;
  }

  form {
    margin-top: 2%;
  }

  .contanct-containter.mobile {
    display: none;
  }

  .text-1.mobile {
    display: none;
  }

  .text-2.mobile {
    display: none;
  }

  .submit-btn.mobile {
    display: none;
  }

  .text-1.mobile2 {
    display: none;
  }

  .text-2.mobilebackend {
    display: none;
  }

  .project-description.mobile2 {
    display: none;
  }

  .contact-info.mobile {
    display: none;
  }

  .title-about.mobile {
    display: none;
  }

  #image-form {
    display: none;
  }

  .modal-bg {
    background: #c1c7d0c9;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 7;
    padding: 50px 0;
    overflow: auto;
    top: 0;
    left: 0;
    visibility: hidden;
    backdrop-filter: blur(5px);
  }

  .bg-active {
    visibility: visible;
    opacity: 1;
  }

  .modal {
    border: 1px solid black;
    border: 1px solid #ebecf0;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    max-width: 88%;
    margin-left: 100px;
    border-radius: 16px;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  }

  .close {
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 30px;
    color: grey;
    margin-right: -95%;
  }

  .title1 {
    font-size: 30px;
    width: 1056px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 52px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
  }

  .title1tonic {
    width: 1056px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    order: 0;
    flex-grow: 0;
    margin-left: -4%;
    margin-top: -40px;
  }

  .card1-badges {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin-left: -72%;
    padding: 40px;
  }

  .modal-counter {
    width: 12px;
    height: 10px;
    margin-top: 10px;
  }

  .image1modal {
    width: 400px;
    height: 586px;
    left: 0;
    top: 0;
    border-radius: 8px;
    margin-left: -63%;
  }

  .description-text {
    display: flex;
    padding-left: 3%;
  }

  .modal-description {
    width: 90%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-top: 30px;
  }

  .links-lang {
    display: flex;
    flex-direction: column;
    padding-top: 13px;
  }

  .modalsIcon {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 13px;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    height: 100px;
    gap: 15px;
    margin-top: 20px;
  }

  .modal-icons {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 4px 12px;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
    display: flex;
    width: 89px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    order: 0;
    flex-grow: 0;
  }

  .link-button {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    padding: 0 10px;
  }

  .livebutton {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    gap: 20px;
  }

  .modal-bg2 {
    display: none;
  }

  .mobileIcons {
    display: none;
  }
}
